.login{
    height: 100vh;
    margin:-10px;
    
    

    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    // background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 500px;
        min-width: 800px;
        overflow: hidden;
      
        .left{
            flex: 1;
            background: linear-gradient(to right,rgba(169,208,113,0.2),rgba(136,173,215,0.2)),url("./image1.jpg")center;
            
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: white;
           
           h1{
            font-size: 80px;
            line-height: 80px;
           }
           p{}
           span{
                font-size: 16px;
                color:white;
             
           } 
           button{
                width: 40%;
                padding: 10px;
                border: none;
                border-radius: 8px;
                background-color: white;
                color:darkcyan;
                font-weight: bold;
                cursor: pointer;
           }
        }
        .right{
            flex:1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;


            h1{
                    font-size: 50px;
                    color: dimgray;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap:30px;

                .error{
                    color:red;
                    // background-color:dimgray;
                    width:fit-content;
                    
                    border-radius: 5px;
                    border: none;
                }
                
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                button{
                width: 40%;
                padding: 10px;
                border: none;
                border-radius: 8px;
                background-color: #8fbc8f ;
                color:black ;
                font-weight: bold;
                cursor: pointer;
                }
            }
        }
   }  
}